<table class="max-width">
    <tr class="underline">
      <th class="bold">Name</th>
      <th class="bold">Creation Date</th>
      <th class="bold">Last Modified</th>
      <th class="bold">Description</th>
      <th class="bold">Current Version</th>
      <th class="bold">Submitter</th>
      <th class="bold">Maintainers</th>
    </tr>
    {% for app in apps %}
    <tr class="underline">
      <th><a href="{{ url_for('app_manager.app_view', app_slug=app.slug) }}" >{{ app.name }}</a></th>
      <th>{{ app.creation_date.day }}-{{ app.creation_date.month }}-{{ app.creation_date.year }} {{ app.creation_date.hour }}:{{ app.creation_date.minute }} (UTC)</th>
      <th>{{ app.last_modified.day }}-{{ app.last_modified.month }}-{{ app.last_modified.year }} {{ app.last_modified.hour }}:{{ app.last_modified.minute }} (UTC)</th>
      <th>{{ app.description }}</th>
      <th>{{ app.current_version }}</th>
      <th><a href="{{ url_for('auth.profile', username=app.submitter.username) }}">{{ app.submitter.username }}</a></th>
      <th>
	{% for maintainer in app.maintainers %}
       <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app.can_user_edit(g.user) %}{% endif %}{% if loop.index != app.maintainers|length %}, {% endif %}
       {% endfor %}
      </th>
    </tr>
    {% endfor %}
</table>
