{% extends "base.html" %}

{% block title %}Apps{% endblock %}

{% block body %}
<div class="container black" style="max-width: 1200px">
  <h2>Refine Apps</h2>
  
  <form action="{{ url_for('app_library.apps') }}" method="get">
    <fieldset>
      <div>
	<label for="search-in">Search In:</label>
	<select name="search-in" id="search-in">
	  <option value="name" {% if request.args.get('search-in') == 'name' %}selected=""{% endif %}>Name</option>
	  <option value="description" {% if request.args.get('search-in') == 'description' %}selected=""{% endif %}>Description</option>
	  <option value="name, description" {% if request.args.get('search-in') == 'name, description' %}selected=""{% endif %}>Name and Description</option>
	  <option value="maintainers" {% if request.args.get('search-in') == 'maintainers' %}selected=""{% endif %}>Maintainers</option>
	  <option value="submitter" {% if request.args.get('search-in') == 'submitter' %}selected=""{% endif %}>Submitter</option>
	</select>
      </div>
      <div>
	<label for="keywords">Keywords:</label>
	<input type="text" name="k" id="keywords" value="{{ request.args.get('k', '') }}">
      </div>
      <div>
	<label for="supports">Supports:</label>
	<input type="text" name="supports" id="supports" value="{{ request.args.get('supports', '') }}">
      </div>
      <div>
	<label for="sort-by">Sort By:</label>
	<select name="sort-by" id="sort-by">
	  <option value="name" {% if request.args.get('sort-by') == 'name' %}selected=""{% endif %}>Name</option>
	  <option value="description" {% if request.args.get('sort-by') == 'description' %}selected=""{% endif %}>Description</option>
	  <option value="creation_date" {% if request.args.get('sort-by') == 'creation_date' %}selected=""{% endif %}>Creation Date</option>
	  <option value="last_modified" {% if request.args.get('sort-by') == 'last_modified' %}selected=""{% endif %}>Last Modified</option>
	  <option value="submitter" {% if request.args.get('sort-by') == 'submitter' %}selected=""{% endif %}>Submitter</option>
	</select>
      </div>
      <div>
	<label for="order-by">Order By:</label>
	<select name="order-by" id="order-by">
	  <option value="asc" {% if request.args.get('order-by') == 'asc' %}selected=""{% endif %}>Ascending</option>
	  <option value="desc" {% if request.args.get('order-by') == 'desc' %}selected=""{% endif %}>Descending</option>
	</select>
      </div>
      <div>
	<label for="page">Page:</label>
	<input type="text" name="page" id="page" size="4" value="{{ request.args.get('page', 1) }}">
      </div>
      <div>
	<label for="per-page">Per Page:</label>
	<input type="text" name="per-page" id="per-page" size="2" value="{{ request.args.get('per-page', 10) }}">
      </div>
      <div>
	<input type="submit" value="Go" class="button">
      </div>
    </fieldset>
  </form>
</div>

<div class="container black" style="max-width: 1200px">
  <p class="no-margin">{{ total_app_count }} app{% if total_app_count > 1 %}s{% endif%} found. Page {{ request.args.get('page', '1') }} of {{ page_count }}.</p>
  {% if apps|length == 0 %}
  <p class="no-margin">No Apps Found</p>
  {% else %}
  {% include "app/table.html" %}
  {% endif %}
</div>

{% set url_for_route = 'app_library.apps' %}
{% set url_for_arguments = {} %}
{% include "pager.html" %}

{% endblock %}
