<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    {% block extra_meta %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - Installies</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block header %}
    {% endblock %}
</head>
<body>
  {% include "nav.html" %}

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
  {% for msg in errors %}
  <div class="container red">
    <h3 class="red">Error!</h3>
    <p class="container-description red">{{ msg }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  {% with errors = get_flashed_messages(category_filter=["success"]) %}
  {% if errors %}
  {% for msg in errors %}
  <div class="container green">
    <h3 class="green">Success!</h3>
    <p class="container-description green">{{ msg }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  {% block body %}
  {% endblock %}

  {% include "footer.html" %}
</body>
</html>
