<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    {% block extra_meta %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - Installies</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/monokai.min.css" integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/shell/shell.min.js" integrity="sha512-HoC6JXgjHHevWAYqww37Gfu2c1G7SxAOv42wOakjR8csbTUfTB7OhVzSJ95LL62nII0RCyImp+7nR9zGmJ1wRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block header %}
    {% endblock %}
</head>
<body>
  {% include "nav.html" %}

  {% with errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
  {% for msg in errors %}
  <div class="container red">
    <h3 class="red">Error!</h3>
    <p class="container-description red">{{ msg }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  {% with errors = get_flashed_messages(category_filter=["success"]) %}
  {% if errors %}
  {% for msg in errors %}
  <div class="container green">
    <h3 class="green">Success!</h3>
    <p class="container-description green">{{ msg }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  {% block body %}
  {% endblock %}

  {% include "footer.html" %}
</body>
</html>
