{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
<div class="container black auto-margin" style="width:40%;">
    <h2>Log In</h2>

    <form action="{{ url_for('auth.login') }}{% if 'referer' in request.args.keys() %}?referer={{ request.args['referer'] }}{% endif %}" method="post">
        <div class="form-input-container">
            <label for="username" >Username</label><br>
            <input type="text" name="username" id="username" class="textbox wide-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" class="textbox wide-textbox" required><br>
        </div>
        
        <div class="form-input-container inline">
          <input type="submit" value="Submit" class="button inline">
        </div>
        
    </form>

    <h5 class="grey">Or if you don't have an account, <a class="link" href="/signup">Sign Up</a></h5>
</div>
{% endblock %}
