{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block body %}
<div class="container black login-container">
    <h2 class="container-header">Log In</h2>
    <hr class="breakline">
    
    <form class="login-form" action="{{ url_for('auth.login') }}" method="post">
        <div class="form-input-container">
            <label for="username" >Username</label><br>
            <input type="text" name="username" class="textbox login-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <label for="username">Password</label><br>
            <input type="password" name="password" class="textbox login-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <input type="submit" value="Submit" class="button login-submit">
        </div>
        
        <h5 class="signup-text">Or if you don't have an account, <a class="link" href="/signup">Sign Up</a></h5>
    </form>
</div>
{% endblock %}
