<p>
  {% if not url_for_arguments %}
  {% set url_for_arguments = {} %}
  {% endif %}
  
  {% set new_request_args = remove_value_from_dictionary(request.args.to_dict(), 'page') %}
  {% if request.args.get('page', '1')|int > 1 %}
  <a href="{{ url_for(url_for_route, **join_dictionaries(url_for_arguments, new_request_args, {'page': 1})) }}">&lt;&lt; First</a>
  <a href="{{ url_for(url_for_route, **join_dictionaries(url_for_arguments, new_request_args, {'page': request.args.get('page', '1')|int - 1})) }}">&lt; Previous</a>
  {% endif %}

  {% if page_count > 1 %}

  {% for i in range(6, 0, -1) %}
  {% if request.args.get('page', '1')|int-i > 0 %}
  <a href="{{ url_for(url_for_route, **join_dictionaries(url_for_arguments, new_request_args, {'page': request.args.get('page', '1')|int-i})) }}">{{ request.args.get('page', '1')|int-i }}</a> 
  {% endif %}
  {% endfor %}
  
  <span>{{ request.args.get('page', '1')|int }}</span>

  {% for i in range(1, 6) %}
  {% if request.args.get('page', '1')|int+i <= page_count %}
  <a href="{{ url_for(url_for_route, **join_dictionaries(url_for_arguments, new_request_args, {'page': request.args.get('page', '1')|int+i})) }}">{{ request.args.get('page', '1')|int+i }}</a> 
  {% endif %}
  {% endfor %}
    
  {% endif %}
  
  {% if request.args.get('page', '1')|int < page_count %}
  <a href="{{ url_for(url_for_route, **join_dictionaries(url_for_arguments, new_request_args, {'page': request.args.get('page', '1')|int + 1})) }}">Next &gt;</a>
  <a href="{{ url_for(url_for_route, **join_dictionaries(url_for_arguments, new_request_args, {'page': page_count})) }}">Last &gt;&gt;</a> 
  {% endif %}
</p>
