{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block body %}
    <div class="container" style="width:800px;">
        <h2>{{ user.username }}'s Profile</h2>
        
        <table>
            <tr>
                <th class="bold">Join Date:</th>
                <th class="value-cell">{{ user.creation_date.day }}-{{ user.creation_date.month }}-{{ user.creation_date.year }} {{ user.creation_date.hour }}:{{ user.creation_date.minute }} (UTC)</th>
            </tr>
	    <tr>
	      <th class="bold">Links:</th>
	      <th><a href="{{ url_for('app_library.apps', **{'search-in':'maintainers','k':user.username}) }}">View this user's packages</a></th>
	    </tr>
        </table>
    </div>
{% endblock %}
