{% extends "base.html" %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ user.username }}'s Profile</h2>
        
        <table>
            <tr>
                <th>Join Date:</th>
                <th class="value-cell">{{ user.creation_date.day }}-{{ user.creation_date.month }}-{{ user.creation_date.year }} {{ user.creation_date.hour }}:{{ user.creation_date.minute }} (UTC)</th>
            </tr>
        </table>
    </div>
{% endblock %}
