{% extends "base.html" %}

{% block title %}Reset you Password{% endblock %}

{% block body %}
<div class="container black" style="width:500px">
    <h2>Reset your Password</h2>

    <form action="{{ url_for('auth.reset_password', token=token) }}" method="post">
      <div class="form-input-container">
	<label for="password">Password</label><br>
	<input type="password" name="password" class="textbox" required><br>
      </div>

      <div class="form-input-container">
	<label for="password-confirm">Confirm Password</label><br>
	<input type="password" name="password-confirm" class="textbox" required><br>
      </div>
      
      <div class="form-input-container">
	<input type="submit" value="Submit" class="button">
      </div>
    </form>
</div>
{% endblock %}
