{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/signup.css">
{% endblock %}

{% block body %}
<div class="container black signup-container">
    <h2 class="container-header">Sign Up</h2>
    <hr class="breakline">
    
    <form class="signup-form" action="/signup" method="post">
        <div class="form-input-container">
            <label for="username">Username</label><br>
            <input type="text" name="username" class="textbox signup-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <label for="email">Email</label><br>
            <input type="email" name="email" class="textbox signup-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <label for="password">Password</label><br>
            <input type="password" name="password" class="textbox signup-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <label for="password-confirm">Password Confirm</label><br>
            <input type="password" name="password-confirm" class="textbox signup-textbox" required><br>
        </div>
        
        <div class="form-input-container">
            <input type="submit" value="Submit" class="button signup-submit">
        </div>
        
        <h5 class="signup-text">Or if you have an account, <a class="link" href="/login">Log In</a></h5>
    </form>
</div>
{% endblock %}