{% extends "admin/base.html" %}

{% block content %}
<div class="container black auto-width">
  <h2>Add a Supported Architechture</h2>
  <p class="container-description">
    The currently supported architechtures are as follows:
    {{ ', '.join(g.supported_architechtures) }}
  </p>

  <form action="{{ url_for('admin.add_architechture') }}" method='post'>
    <div class="form-input-container">
      <label for"architechture-name">Name</label><br>
      <input type="text" name="architechture-name" id="architechture-name" class="textbox" style="width:50%;" required>
    </div>

    <div class="form-input-container">
      <label for"architechture-other-names">Alternative Names</label><br>
      <input type="text" name="architechture-other-names" id="architechture-other-names" class="textbox" style="width:50%;" required>
    </div>
    
    <div class="form-input-container">
      <input type="submit" value="Submit" class="button">
    </div>
  </form>
</div>
{% endblock content %}
