{% extends "admin/base.html" %}

{% block title %}View Report{% endblock %}

{% block content %}
<div class="container black">
  <h2>App Report Details</h2>

  <table>
    <tr>
      <th>Title:</th>
      <td>{{ report.title }}</td>
    </tr>
     <tr>
      <th>Body:</th>
      <td>{{ report.body }}</td>
     </tr>
    <tr>
      <th>Creation Date:</th>
      <td>{{ report.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    <tr>
      <th>Resolved:</th>
      <td>{% if report.resolved %}True{% else %}False{% endif %}</td>
    </tr>
     <tr>
      <th>Submitter:</th>
      <td><a href="{{ url_for('auth.profile', username=report.submitter.username) }}">{{ report.submitter.username }}</a></td>
     </tr>
    <tr>
      <th>Action:</th>
      <td>[<a href="{{ url_for('admin.delete_app_report', report_id=report.id) }}">Delete</a>][<a href="{{ url_for('admin.resolve_app_report', report_id=report.id) }}">Resolve</a>]</td>
    </tr>
  </table>
</div>
{% endblock %}
