{% extends "admin/base.html" %}

{% block title %}View Report{% endblock %}

{% block content %}
<div class="container black">
  <h2>Report Details</h2>

  <table>
    <tr>
      <th>Title:</th>
      <td>{{ report.title }}</td>
    </tr>
     <tr>
      <th>Body:</th>
      <td>{{ report.body }}</td>
     </tr>
    <tr>
      <th>Creation Date:</th>
      <td>{{ report.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    <tr>
      <th>Type:</th>
      <td>{{ report.report_type }}</td>
    </tr>
    {% if app %}
    <tr>
      <th>App:</th>
      <td>[<a href="{{ url_for('app_manager.app_view', app_name=app.name) }}">View</a>]</td>
    </tr>
    {% endif %}
    {% if script %}
    <tr>
      <th>Script:</th>
      <td>[<a href="{{ url_for('app_manager.script_view', app_name=script.app.name, script_id=script.id) }}">View</a>]</td>
    </tr>
    {% endif %}
    {% if comment %}
    <tr>
      <th>Comment Content:</th>
      <td>{{ comment.content }}</td>
    </tr>
    <tr>
      <th>View Comments:</th>
      <td>[<a href="{{ url_for('app_manager.comments', app_name=comment.thread.app.name, thread_id=comment.thread.id) }}">View</a>]</td>
    </tr>
    {% endif %}
    <tr>
      <th>Resolved:</th>
      <td>{% if report.resolved %}True{% else %}False{% endif %}</td>
    </tr>
     <tr>
      <th>Submitter:</th>
      <td><a href="{{ url_for('auth.profile', username=report.submitter.username) }}">{{ report.submitter.username }}</a></td>
     </tr>
    <tr>
      <th>Action:</th>
      <td>[<a href="{{ url_for('admin.delete_report', report_id=report.id) }}">Delete</a>][<a href="{{ url_for('admin.resolve_report', report_id=report.id) }}">Resolve</a>]</td>
    </tr>
  </table>
</div>
{% endblock %}
