<table class="max-width">
  <thead>
    <tr class="underline">
      <th class="bold">Action</th>
      <th class="bold">Title</th>
      <th class="bold">Submitter</th>
      <th class="bold">Type</th>
      <th class="bold">Creation Date</th>
      <th class="bold">Resolved</th>
    </tr>
  </thead>
  <tbody>
    {% for report in reports %}
    <tr>
      <td>[<a href="{{ url_for('admin.report_view', report_id=report.id) }}">View</a>]</th>
      <td>{{ report.title }}</td>
      <td><a href="{{ url_for('auth.profile', username=report.submitter.username) }}">{{ report.submitter.username }}</a></td>
      <td>{{ report.report_type }}</td>
      <td>{{ report.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
      <td>{% if report.resolved %}True{% else %}False{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
