{% extends "app/base.html" %}

{% block app_page_title %}Comments for "{{ thread.title }}" on {% endblock %}

{% block content %}

<div class="container black">
  <h1 class="no-underline no-padding no-margin">{{ thread.title }}</h1>
  <p>By {% if thread.creator %}<a href="url_for('auth.profile', username=thread.creator.username)">{{ thread.creator.username }}</a>{% else %}system{% endif %} on {{ thread.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC) {% if thread.creator == g.user %}[<a class="red" href="{{ url_for('app_manager.delete_thread', app_name=app.name, thread_id=thread.id) }}">Delete</a>]{% endif %}{% if thread.for_script %} for <a href="{{ url_for('app_manager.script_view', app_name=thread.for_script.get().app.name, script_id=thread.for_script.get().id) }}">Script</a>{% endif %}</p>
</div>

{% if g.is_authed %}
{% set create_comment_form_route = url_for('app_manager.create_comment', app_name=app.name, thread_id=thread.id) %}
{% include "discussion/create_comment.html" %}
{% endif %}

<p>{{ total_object_count }} comment{% if total_object_count > 1 %}s{% endif%} found. Page {{ request.args.get('page', '1') }} of {{ page_count }}.</p>
{% for comment in comments %}

{% set edit_comment_route = url_for('app_manager.edit_comment', app_name=app.name, thread_id=thread.id, comment_id=comment.id) %}
{% set delete_comment_route = url_for('app_manager.delete_comment', app_name=app.name, thread_id=thread.id, comment_id=comment.id) %}
{% set report_comment_route = url_for('app_manager.report_comment', app_name=app.name, thread_id=thread.id, comment_id=comment.id) %}
{% include "discussion/comment.html" %}

{% endfor %}

{% set url_for_route = 'app_manager.comments' %}
{% set url_for_arguments = {'app_name': app.name, 'thread_id': thread.id} %}
{% include "pager.html" %}

{% endblock %}
