{% extends "app/base.html" %}

{% block app_page_title %}Discussion of {% endblock %}

{% block content %}
<h2>Discussion</h2>
<div class="container black" style="width:auto">

  {% if threads|length == 0 %}
  <p class="no-margin">No threads found.</p>
  {% else %}
  <table class="max-width">
    <thead>
      <tr class="underline">
	<th>Title</th>
	<th>Creator</th>
	<th>Creation Date</th>
	<th>Comment Count</th>
      </tr>
    </thead>
    <tbody>
      {% for thread in threads %}
      <tr class="underline">
	<td><a href="{{ url_for('app_manager.comments', app_name=app.name, thread_id=thread.id) }}">{{ thread.title }}</a></td>
	<td>{% if thread.creator %}<a href="url_for('auth.profile', username=thread.creator.username)">{{ thread.creator.username }}{% else %}system{% endif %}</a></td>
	<td>{{ thread.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
	<td>{{ thread.comments|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% set url_for_route = 'app_manager.discussion' %}
{% set url_for_arguments = {'app_name': app.name} %}
{% include "pager.html" %}

{% endblock %}
