<form action="{{ form_url }}" method="post">
  {% if show_app_name_input %}
  <div class="form-input-container">
    <label for="app-name" >App Name</label><br>
    <input type="text" name="app-name" id="app-name" class="textbox" placeholder="my-cool-app" required><br>
  </div>
  {% endif %}
  
  <div class="form-input-container">
    <label for="app-display-name">Display Name <span style="color:var(--light-grey)">(optional)</span></label><br>
    <input type="text" name="app-display-name" id="app-display-name" class="textbox" placeholder="My Cool App" {% if default_form_app %}value="{{ default_form_app.display_name }}"{% endif %}><br>
  </div>
  
  <div class="form-input-container">
    <label for="app-desc" >Description</label><br>
    <textarea name="app-desc" id="app-desc" class="textbox" cols="30" rows="6" placeholder="This is my very cool app.">{% if default_form_app %}{{ default_form_app.description }}{% endif %}</textarea>
  </div>
      
  <div class="form-input-container">
    <input type="submit" value="Submit" class="button">
  </div>
</form>
