{% extends "app/base.html" %}

{% block extra_meta %}
<meta name="description" content="{{ app.description }}">
{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Original Submitter:</th>
    <td><a class="link" href="{{ url_for("auth.profile", username=app.submitter.username) }}">{{ app.submitter.username }}</a></td>
  </tr>
   <tr>
     <th>Maintainers:</th>
     <td>
       {% for maintainer in app.maintainers.get_maintainers() %}
       <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app.can_user_edit(g.user) %} [<a class='red' href="{{ url_for("app_manager.remove_maintainer", app_name=app.name, username=maintainer.user.username) }}">Remove</a>]{% endif %}{% if loop.index != app.maintainers.get_maintainers()|length %}, {% endif %}
       {% endfor %}
     </td>
  </tr>
  <tr>
    <th>Creation Date:</th>
    <td>{{ app.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
  </tr>
  <tr>
    <th>Last Modified:</th>
    <td>{{ app.last_modified.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
  </tr>
  <tr>
    <th>Description:</th>
    <td>{{ app.description }}</td>
  </tr>
  {% if app.current_version != ''%}
  <tr>
    <th>Current Version:</th>
    <td>{{ app.current_version }}</td>
  </tr>
  {% endif %}
</table>
{% endblock content %}

