<table class="max-width">
    <thead>
      <tr class="underline">
        <th>Name</th>
	<th>Description</th>
        <th>Creation Date</th>
        <th>Last Modified</th>
        <th>Current Version</th>
        <th>Submitter</th>
        <th>Maintainers</th>
      </tr>
    </thead>
    <tbody>
      {% for app in apps %}
      <tr class="underline">
        <td><a href="{{ url_for('app_manager.app_view', app_name=app.name) }}" >{{ app.name }}</a></td>
	<td>{{ app.description }}</td>
	<td>{{ app.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
	<td>{{ app.last_modified.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
        <td>{% if app.current_version %}{{ app.current_version }}{% else %}Unknown{% endif %}</td>
        <td><a href="{{ url_for('auth.profile', username=app.submitter.username) }}">{{ app.submitter.username }}</a></td>
        <td>
	  {% for maintainer in app.maintainers.get_maintainers() %}
         <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app.can_user_edit(g.user) %}{% endif %}{% if loop.index != app.maintainers.get_maintainers()|length %}, {% endif %}
         {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
