{% extends "app_view/base.html" %}

{% block app_page_title %}Add Script to {% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
<div class="container black auto-width">
  <h2>Add a Script</h2>

  <form action="{{ url_for('app_manager.add_script', app_slug=app.slug) }}" method="post">
    <div class="form-input-container">
      <label for="script-action">Script Action</label><br>
      <select name="script-action" id="script-action" required>
	{% for action in possible_script_actions %}
	  <option value="{{ action }}">{{ action.capitalize() }}</option>
	{% endfor %}
      </select>
    </div>
    
    <div class="form-input-container">
      <label for="script-supported-distros">Supported Distros</label><br>
      <input type="text" name="script-supported-distros" id="script-supported-distros" class="textbox" placeholder="distro1, distro2, distro3..." style="width:50%;"  required>
    </div>

    <div class="form-input-container">
      <label for="script-content">Script Content</label><br>
      <textarea name="script-content" id="script-content"></textarea>
      <script>
	mirror = CodeMirror.fromTextArea(document.getElementById("script-content"), {
	    lineNumbers: true,
	    mode: "shell",
	    theme: "monokai",
	});
      </script>
    </div>

    <div class="form-input-container">
      <input type="submit" value="Submit" class="button">
     </div>
  </form>
</div>
{% endblock %}
