{% extends "app_view/base.html" %}

{% block app_page_title %}Add Script to {% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
<div class="container black auto-width">
  <h2>Add a Script</h2>

  <form action="{{ url_for('app_manager.add_script', app_slug=app.slug) }}" method="post" id="script-form">
    <div class="form-input-container">
      <label for="script-action">Script Action</label><br>
      <select name="script-action" id="script-action" required>
	{% for action in g.supported_script_actions %}
	  <option value="{{ action }}">{{ action.capitalize() }}</option>
	{% endfor %}
      </select>
    </div>
    
    <div class="form-input-container">
      <label for="script-supported-distros">Supported Distros</label><br>
      <table id="distro-table" class="max-width">
	<tr class="underline">
	  <th class="bold">Options</th>
	  <th class="bold">Distro Names</th>
	  <th class="bold">Architechture Names</th>
	</tr>
      </table>
      <button id="add-distro-button" type="button" class="link-button">Add Distro</button>
      <script>
	function deleteDistro(id) {
	    distro = document.getElementById(id);
	    distro.remove();
	}

	function makeId() {
	    let result = '';
	    const characters = '0123456789';
	    const charactersLength = characters.length;
	    let counter = 0;
	    while (counter < 5) {
		result += characters.charAt(Math.floor(Math.random() * charactersLength));
		counter += 1;
	    }
	    return result;
	}
	
	addDistroButton = document.getElementById('add-distro-button')
	addDistroButton.onclick = (e) => {
	    const tablerow = document.createElement('tr')
	    tablerow.classList.add("underline");
	    tablerowId = 'distro-' + makeId();
	    tablerow.id = tablerowId;
	    const action = document.createElement('th');
	    const openBracket = document.createTextNode('[')
	    const closeBracket = document.createTextNode(']')
	    const actionButton = document.createElement('button')
	    actionButton.setAttribute("onclick", 'deleteDistro("' + tablerowId + '")')
	    actionButton.type = "button"
	    actionButton.innerHTML = 'Remove'
	    actionButton.classList.add('link-button')
	    action.appendChild(openBracket)
	    action.appendChild(actionButton)
	    action.appendChild(closeBracket)
	    const distroNames = document.createElement('th');
	    const distroNamesInput = document.createElement('input');
	    distroNamesInput.classList.add('textbox');
	    distroNamesInput.placeholder = "distro1, distro2, distro3...";
	    distroNamesInput.name = tablerowId + "-distros";
	    distroNamesInput.id = tablerowId + "-distros";
	    distroNamesInput.required = true;
	    distroNames.appendChild(distroNamesInput);
	    const distroArchs = document.createElement('th');
	    const distroArchsInput = document.createElement('input');
	    distroArchsInput.classList.add('textbox');
	    distroArchsInput.placeholder = "arch1, arch2, arch3";
	    distroArchsInput.name = tablerowId + "-archs";
	    distroArchsInput.id = tablerowId + "-archs";
	    distroArchs.appendChild(distroArchsInput);
	    tablerow.appendChild(action);
	    tablerow.appendChild(distroNames);
	    tablerow.appendChild(distroArchs);
	    const table = document.getElementById("distro-table").firstElementChild;
	    table.appendChild(tablerow);
	}

	form = document.getElementById('script-form')
	form.onformdata = (e) => {
	    const formData = e.formData;
	    let tableChildren = document.getElementById("distro-table").firstElementChild.children;
	    let idList = [];
	    for (let i = 1; i < tableChildren.length; i++) {
		idList.push(tableChildren[i].id);
	    }

	    let distro_strings = []
	    
	    for (let i = 0; i < idList.length; i++) {

		let distros = formData.get(idList[i] + '-distros');
		let archs = formData.get(idList[i] + '-archs');
		let split_distros = distros.split(',');
		let split_archs = archs.split(',');

		for (let j = 0; j < split_distros.length; j++) {
		    
		    let distro = split_distros[j].trim();
		    let arch_string = "";
		    
		    for (let k = 0; k < split_archs.length; k++) {
			arch_string = arch_string + ':' + split_archs[k].trim();
		    }
		    
		    if (arch_string != "") {
			distro = distro + arch_string;
		    }

		    distro_strings.push(distro);
		}
		
	    }

	    formData.append('script-supported-distros', distro_strings.join(','));
	}
      </script>
    </div>

    <div class="form-input-container">
      <label for="script-content">Script Content</label><br>
      <textarea name="script-content" id="script-content"></textarea>
      <script>
	mirror = CodeMirror.fromTextArea(document.getElementById("script-content"), {
	    lineNumbers: true,
	    mode: "shell",
	    theme: "monokai",
	});
      </script>
    </div>

    <div class="form-input-container">
      <input type="submit" value="Submit" class="button">
     </div>
  </form>
</div>
{% endblock %}
