{% extends "base.html" %}

{% block title %}{% block app_page_title %}{% endblock %}{{ app.name }}{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/app_view.css">
{% block extra_headers %}
{% endblock %}
{% endblock %}

{% block body %}
<div class="container app-view-container">
  <div class="app-nav">
    <h2 class="app-name container-header">{{ app.name }}</h2>
    <div class="app-nav-links">
      <a class="white-link app-nav-link" href="{{ url_for("app_manager.app_view", slug=app.slug) }}">Infomation</a>
      <a class="white-link app-nav-link" href="{{ url_for("app_manager.app_scripts", slug=app.slug) }}">Scripts</a>
    </div>
    <hr>
  </div>
  
  <div class="content">
  {% block content %}
  {% endblock %}
  </div>

  <div class="app-option-container">
    <h3 class="app-option-header container-header">App Options</h3>
    <hr>
    
    <ul class="app-option-list">
      {% if app.author == g.user %}
      <li class="app-option"><a href="{{ url_for("app_manager.app_edit", slug=app.slug) }}">Edit</a></li>
      <li class="app-option"><a href="{{ url_for("app_manager.app_delete", slug=app.slug) }}">Delete</a></li>
      <li class="app-option"><a href="{{ url_for("app_manager.add_script", slug=app.slug) }}">Add Script</a></li>
      <li class="app-option"><a href="{{ url_for("app_manager.change_visibility", slug=app.slug) }}">Change Visibility</a></li>
      {% endif %}
    <ul>
  </div>
</div>
{% endblock %}
