{% extends "base.html" %}

{% block title %}{% block app_page_title %}{% endblock %}{{ app.name }}{% endblock %}

{% block body %}
<div class="side-options-grid container" style="max-width:1100px;">
  <div class="grid-column-span-2">
    <h2>{{ app.name }}</h2>
  </div>
  
  <div class="grid-column-start-1 auto-width">
    <div class="black container link-container">
      <a class="white-link" href="{{ url_for("app_manager.app_view", app_slug=app.slug) }}">Infomation</a>
      <a class="white-link" href="{{ url_for("app_manager.app_scripts", app_slug=app.slug) }}">Scripts</a>
    </div>
  
  {% block content %}
  {% endblock %}
  </div>

  <div class="side-options">
    <h3>App Options</h3>
    <ul class="no-margin no-padding no-list-style-type">
      {% if app.can_user_edit(g.user) %}
      <li><a href="{{ url_for("app_manager.app_edit", app_slug=app.slug) }}">Edit</a></li>
      <li><a href="{{ url_for("app_manager.app_delete", app_slug=app.slug) }}">Delete</a></li>
      <li><a href="{{ url_for("app_manager.add_script", app_slug=app.slug) }}">Add Script</a></li>
      <li><a href="{{ url_for("app_manager.add_maintainer", app_slug=app.slug) }}">Add Maintainer</a></li>
      <li><a href="{{ url_for("app_manager.change_visibility", app_slug=app.slug) }}">Change Visibility</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
