{% extends "app_view/base.html" %}

{% block app_page_title %}Change Visibility for {% endblock %}

{% block content %}
<div class="container black" style="width: auto;">
  <h2>Change Visibility</h2>

  <form class="change-visibility-form" action="{{ url_for('app_manager.change_visibility', app_name=app.name) }}" method="post">
    
    <div class="form-input-container">
      <select name="visibility" id="visibility" required>
	{% for visibility_option in g.supported_visibility_options %}
	  <option value="{{ visibility_option }}" {% if visibility_option == app.visibility %}selected="selected"{% endif %}>{{ visibility_option.capitalize() }}</option>
	{% endfor %}
      </select>
    </div>

    <div class="form-input-container">
      <input type="submit" value="Submit" class="button">
     </div>
  </form>
</div>
{% endblock %}
