{% extends "app_view/base.html" %}

{% block app_page_title %}Edit Script for {% endblock %}

{% block content %}
<div class="container black auto-width" style="width:auto">
  <h2 class="container-header">Edit Script</h2>
  <hr class="breakline">

  <form action="{{ url_for('app_manager.edit_script', slug=app.slug, script_id=script.id) }}" method="post">
    <div class="form-input-container">
      <label for="script-action">Script Action</label><br>
      <select name="script-action" id="script-action" required>
	{% for action in possible_script_actions %}
	<option value="{{ action }}" {% if action == script.action %}selected="selected"{% endif %}>{{ action.capitalize() }}</option>
	{% endfor %}
      </select>
    </div>

    <div class="form-input-container">
      <label for="script-supported-distros">Supported Distros</label><br>
      <input type="text" name="script-supported-distros" id="script-supported-distros" class="textbox" placeholder="distro1, distro2, distro3.." style="width:50%;" value="{{ ", ".join(script.supported_distros_list) }}" required>
    </div>

    <div class="form-input-container">
      <label for="script-content">Script Content</label><br>
      <textarea name="script-content" id="script-content" class="vertical-resize" cols="60" rows="20" style="width:80%" required>
      {% with f = script.open_content() %}
{{ f.read() }}
      {% endwith %}
      </textarea>
    </div>

    <div class="form-input-container">
      <input type="submit" value="Submit" class="button">
    </div>
  </form>
</div>
{% endblock %}
