{% extends "app_view/base.html" %}

{% block content %}
<table>
  <tr>
    <th>Author:</th>
    <th class="value-cell"><a class="link" href="{{ url_for("auth.profile", username=app.author.username) }}">{{ app.author.username }}</a></th>
  </tr>
  <tr>
    <th>Creation Date:</th>
    <th class="value-cell">{{ app.creation_date.day }}-{{ app.creation_date.month }}-{{ app.creation_date.year }} {{ app.creation_date.hour }}:{{ app.creation_date.minute }} (UTC)</th>
  </tr>
  <tr>
    <th>Last Modified:</th>
    <th class="value-cell">{{ app.last_modified.day }}-{{ app.last_modified.month }}-{{ app.last_modified.year }} {{ app.last_modified.hour }}:{{ app.last_modified.minute }} (UTC)</th>
  </tr>
  <tr>
    <th>Visibility:</th>
    <th class="value-cell">{{ app.visibility.capitalize() }}</th>
  </tr>
  <tr>
    <th>Description:</th>
    <th class="value-cell">{{ app.description }}</th>
  </tr>
</table>
{% endblock content %}

