{% extends "app_view/base.html" %}

{% block content %}
<table>
  <tr>
    <th>Author:</th>
    <th class="value-cell"><a class="link" href="{{ url_for("auth.profile", username=app.author.username) }}">{{ app.author.username }}</a></th>
  </tr>
  <tr>
    <th>Creation Date:</th>
    <th class="value-cell">{{ app.creation_date.day }}-{{app.creation_date.month}}-{{app.creation_date.year}}</th>
  </tr>
  <tr>
    <th>Description:</th>
    <th class="value-cell">{{ app.description }}</th>
  </tr>
</table>
{% endblock content %}
