{% extends "app_view/base.html" %}

{% block content %}
<table>
  <tr>
    <th class="bold">Original Submitter:</th>
    <th><a class="link" href="{{ url_for("auth.profile", username=app.submitter.username) }}">{{ app.submitter.username }}</a></th>
  </tr>
   <tr>
     <th class="bold">Maintainers:</th>
     <th>
       {% for maintainer in app.maintainers %}
       <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app.can_user_edit(g.user) %} [<a href="{{ url_for("app_manager.remove_maintainer", app_slug=app.slug, username=maintainer.user.username) }}">Remove</a>]{% endif %}{% if loop.index != app.maintainers|length %}, {% endif %}
       {% endfor %}
     </th>
  </tr>
  <tr>
    <th class="bold">Creation Date:</th>
    <th>{{ app.creation_date.day }}-{{ app.creation_date.month }}-{{ app.creation_date.year }} {{ app.creation_date.hour }}:{{ app.creation_date.minute }} (UTC)</th>
  </tr>
  <tr>
    <th class="bold">Last Modified:</th>
    <th>{{ app.last_modified.day }}-{{ app.last_modified.month }}-{{ app.last_modified.year }} {{ app.last_modified.hour }}:{{ app.last_modified.minute }} (UTC)</th>
  </tr>
  <tr>
    <th class="bold">Visibility:</th>
    <th>{{ app.visibility.capitalize() }}</th>
  </tr>
  <tr>
    <th class="bold">Description:</th>
    <th>{{ app.description }}</th>
  </tr>
</table>
{% endblock content %}

