{% extends "app_view/base.html" %}

{% block app_page_title %}Make Private {% endblock %}

{% block content %}
<div class="container black" style="width:auto">
  <h2 class="container-header">Make App Private</h2>
  <hr class="breakline">
  <p>
    Are you sure you want to make this app private?
  </p>

  <form class="make-app-prive-form" action="{{ url_for('app_manager.make_app_private', slug=app.slug) }}" method="post">
    <input type="submit" value="Make Private" class="button">
  </form>
</div>
{% endblock %}
