{% extends "app_view/base.html" %}

{% block app_page_title %}Scripts for {% endblock %}

{% block content %}
<div class="container black">
  <h2>Refine Scripts</h2>
  
  <form action="{{ url_for('app_manager.app_scripts', slug=app.slug) }}" method="get">
    <fieldset>
      <div>
	<label for="supports">Supports:</label>
	<input type="text" name="supports" id="supports" value="{{ request.args.get('supports', '') }}">
      </div>
      <div>
	<label for="sort-by">Sort By:</label>
	<select name="sort-by" id="sort-by">
	  <option value="last_modified" {% if request.args.get('sort-by') == 'last_modified' %}selected=""{% endif %}>Last Modified</option>
	  <option value="action" {% if request.args.get('sort-by') == 'action' %}selected=""{% endif %}>Action</option>
	</select>
      </div>
      <div>
	<label for="order-by">Order By:</label>
	<select name="order-by" id="order-by">
	  <option value="asc" {% if request.args.get('order-by') == 'asc' %}selected=""{% endif %}>Ascending</option>
	  <option value="desc" {% if request.args.get('order-by') == 'desc' %}selected=""{% endif %}>Descending</option>
	</select>
      </div>
      <div>
	<label for="action">Action:</label>
	<select name="action" id="action">
	  <option value="">Any</option>
	  {% for action in supported_script_actions %}
	  <option value="{{ action }}" {% if request.args.get('action') == action %}selected=""{% endif %}>{{ action.capitalize() }}</option>
	  {% endfor %}
	</select>
      </div>
      <div>
	<label for="page">Page:</label>
	<input type="text" name="page" id="page" size="4" value="{{ request.args.get('page', 1) }}">
      </div>
      <div>
	<label for="per-page">Per Page:</label>
	<input type="text" name="per-page" id="per-page" size="2" value="{{ request.args.get('per_page', 10) }}">
      </div>
      <div>
	<input type="submit" value="Go" class="button">
      </div>
    </fieldset>
  </form>
</div>

<div class="container black">
  {% if scripts|length == 0 %}
  <p class="no-margin">No Scripts Found</p>
  {% else %}
  <table>
    <tr>
      {% if g.user == app.submitter %}
      <th class="bold">Options</th>
      {% endif %}
      <th class="bold">Action</th>
      <th class="bold">Supports</th>
      <th class="bold">Last Modified</th>
    </tr>
    {% for script in scripts %}
    <tr>
      {% if app.can_user_edit(g.user) %}
      <th>[<a href="{{ url_for('app_manager.script_view', slug=app.slug, script_id=script.id) }}">View</a>] [<a href="{{ url_for('app_manager.edit_script', slug=app.slug, script_id=script.id) }}">Edit</a>] [<a href="{{ url_for('app_manager.delete_script', slug=app.slug, script_id=script.id) }}">Delete</a>]</th>
      {% endif %}
      <th>{{ script.action }}</th>
      <th>{{ ', '.join(script.get_all_supported_distro_slugs()) }}</th>
      <th>{{ script.last_modified.day }}-{{ script.last_modified.month }}-{{ script.last_modified.year }} {{ script.last_modified.hour }}:{{ script.last_modified.minute }} (UTC)</th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
