{% extends "app_view/base.html" %}

{% block app_page_title %}Script Info for {% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
<div class="container black auto-width" style="width:auto">
  <h2>Script Info</h2>

  <table>
    {% if app.can_user_edit(g.user) %}
    <td class="bold">Options:</td>
    <th>[<a href="{{ url_for('app_manager.edit_script', app_name=app.name, script_id=script.id) }}">Edit</a>] [<a class='red' href="{{ url_for('app_manager.delete_script', app_name=app.name, script_id=script.id) }}">Delete</a>]</th>
    {% endif %}
    <tr>
      <th class="bold">Action:</th>
      <td>{{ script.action.capitalize() }}</td>
    </tr>
    <tr>
      <th class="bold">For Version:</th>
      <td>{% if script.version != '' %}{{ script.version }}{% else %}Any{% endif %}</td>
    </tr>
    <tr>
      <th class="bold">Last Modified:</th>
      <td>{{ script.last_modified.day }}-{{ script.last_modified.month }}-{{ script.last_modified.year }} {{ script.last_modified.hour }}:{{ script.last_modified.minute }} (UTC)</td>
    </tr>
    <tr>
      <th class="bold">Supported Distros</th>
      <td>
	<table>
	  {% set distros = script.get_all_supported_distros() %}
	  {% for architechture in distros %}
	  <tr>
	    <td class="no-height-padding">{{ architechture }}:</td>
	    <td class="no-height-padding">{{ ', '.join(distros[architechture]) }}</td>
	  </tr>
	  {% endfor %}
	</table>
      </td>
    </tr>
  </table>
  <p>Content</p>
  <textarea name="script-content" id="script-content">
    {% with f = script.open_content() %}{{ f.read() }}{% endwith %}</textarea>
  <script>
    mirror = CodeMirror.fromTextArea(document.getElementById("script-content"), {
	lineNumbers: true,
	mode: "shell",
	theme: "monokai",
	readOnly: true,
    });
  </script>
</div>
{% endblock %}
