.app-view-container {
    display: grid;
    grid-template-columns: auto 150px;
    width: 85%;
    column-gap: 10px;
}

.app-nav {
    grid-column: 1 / span 2;
}

.app-name {
    margin-bottom: 3px;
}

.app-nav-links {
    display: inline;
}

.app-nav-link {
    margin-right: 8px;
}

.content {
    grid-column-start: 1;
    width: auto;
}

.app-option-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.app-option-container {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
}
