.error-container {
    color: var(--red);
}

.error-container hr {
    border-color: var(--red);
}

.error-container .container-description {
    color: var(--red);
}

.success-container {
    color: var(--green);
}

.success-container hr {
    border-color: var(--green);
}


.logo-header {
    text-align: left;
    font-family: Assurant Standard;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-link-group {
    float: left;
}

.nav-link .nav-search {
    display: inline-block;
}

.nav-link {
    margin-right: 10px;
}

.nav-search-form {
    display: inline;
    padding-bottom: 5px;
}

.nav-search {
    float: right;
    text-align: center;
    height: 19px;
    margin-bottom: 5px;
}

.searchbox {
    background-color: var(--black);
    height: 19px;
    margin: auto;
}

.searchbutton {
    margin: auto;
}
