.error-container {
    color: var(--red);
}

.error-container hr {
    border-color: var(--red);
}

.error-container .container-description {
    color: var(--red);
}

.success-container {
    color: var(--green);
}

.success-container hr {
    border-color: var(--green);
}

.logo-header {
    font-family: Assurant Standard;
    letter-spacing: 2px;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 38px;
}

.navbar {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    padding-bottom: 5px;
    flex-wrap: wrap;
}

.nav-search-form {
    margin-left: auto;
    display: flex;
    gap: 5px;
}

.searchbox {
    background-color: var(--black);
    margin-top: 0px;
}

.searchbutton {
    margin-top: 0px;
}
