@font-face {
    font-family: "Assurant Standard";
    src: url("/static/fonts/Assurant-Standard.otf");
}

@font-face {
    font-family: "Inter Light";
    src: url("/static/fonts/Inter-Light.ttf");
}

@font-face {
    font-family: "Inter Medium";
    src: url("/static/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "Inter Regular";
    src: url("/static/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter Bold";
    src: url("/static/fonts/Inter-Bold.ttf");
}

:root {
    --black: #161616;
    --dark-grey: #222222;
    --grey: #5e5e5e;
    --light-grey: #c5c5c5;
    --off-white: #e5e5e5;
    --red: #d1260c;
    --green: #5bf24d;
    --blue: #1c82ef;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    background-color: var(--dark-grey);
    color: white;
    font-family: Inter Regular;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.4;
}

nav {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

nav * {
    line-height: 1.2;
}

h1, h2, h3 {
    font-family: Inter Bold;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--grey);
}

h4, h5, h6 {
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    text-align: left;
    margin: auto;
    margin-top: 10px;
    color: var(--light-grey);
}

a {
    color: var(--blue);
    text-decoration: none;
}

b {
    font-family: Inter Bold;
}

footer {
    margin-top: 10px;
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 0.85em;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

.white-link {
    color: var(--off-white);
}

.white-link:hover {
    color: white;
}

input, textarea, select {
    background-color: var(--dark-grey);
    color: var(--off-white);
    border-color: var(--grey);
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    font-family: Inter Regular;
    vertical-align: middle;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--light-grey);
}

input[type=submit] {
    background-color: var(--dark-grey);
    color: var(--off-white);
    border-color: var(--grey);
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    font-family: Inter Regular;
    vertical-align: middle;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline;
    
}

input[type=submit]:hover {
    background-color: var(--black);
}

hr {
    color: var(--grey);
    border-style: solid;
    margin-top: 5px;
    border-bottom: 0;
}

fieldset {
    border: 0;
    padding-bottom: 0;
}

fieldset div {
    display: inline-block;
    margin-right: 5px;
}

.bold {
    font-family: Inter Bold;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
}

td {
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

th {
    font-family: Inter Bold;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  color: var(--blue);
  cursor: pointer;
  font-size: 1em
}

.link-button:hover {
    text-decoration: underline;
}

.underline {
    border-bottom: 1px solid var(--grey);
}

.container {
    margin: auto;
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
}

.container-header {
    text-align: left;
    margin: auto;
    margin-bottom: 0;
    padding: 0;
}

.black  {
    background-color: var(--black);
}

.grey {
    color: var(--grey);
}

.green {
    color: var(--green);
    border-color: var(--green);
}

.red {
    color: var(--red);
    border-color: var(--red)
}

.form-input-container {
    margin-top: 10px;
}

.textbox {
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.wide-textbox {
    width: 300px;
}

.logo {
    font-family: Assurant Standard;
    letter-spacing: 2px;
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 38px;
    border-bottom: none;
    padding-bottom: 0;
}

.link-container a{
    margin-right: 8px;
}

.grid-column-start-1 {
    grid-column-start: 1;
}

.grid-column-start-2 {
    grid-column-start: 2;
}

.two-column-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.side-options-grid {
    display: grid;
    grid-template-columns: auto 175px;
    column-gap: 10px;
}

.side-options {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    width: 100%;
}

.grid-column-span-2 {
    grid-column: 1 / span 2;
}

.flex {
    display: flex;
}

.gap-5 {
    gap: 5px;
}

.gap-15 {
    gap: 15px;
}

.align-flex-end {
    align-items: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.inline {
    display: inline;
}

.margin-left-auto {
    margin-left: auto;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-margin {
    margin: 0;
}

.auto-margin {
    margin: auto;
}

.no-padding {
    padding: 0;
}

.no-height-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.auto-width {
    width: auto;
}

.max-width {
    width: 100%;
}
.max-width {
    width: 100%;
}

.no-list-style-type {
    list-style-type: none;
}

.vertical-resize {
    resize: vertical;
}

.no-underline {
    border-bottom: none;
}

.white-text {
    color: white;
}

.initial-font-size {
    font-size: initial;
}

.CodeMirror {
    height: 500px !important;
}

.float-right {
    float: right;
}
