{% extends "app/base.html" %}

{% block app_page_title %}Add Maintainer to a script of {% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
<div class="container black" style="width:auto">
  <h2>Add Maintainer to Script</h2>
  <p>
    Warning: Maintainers will have the same permissions as you, so only add people
    you 100% trust.
  </p>

  <form action="{{ url_for('app_manager.add_script_maintainer', app_name=app.name, script_id=script.id) }}" method="post">
    <div class="form-input-container">
      <label for="username" >Username</label><br>
      <input type="text" name="username" id="username" class="textbox" required><br>
    </div>
    <div class="form-input-container">
      <input type="submit" value="Add" class="button">
    </div>
  </form>
</div>

{% include "script/script_info_container.html" %}
{% endblock %}
