{% extends "app/base.html" %}

{% block app_page_title %}Delete Script for {% endblock %}

{% block content %}
<div class="container black" style="width:auto">
  <h2>Delete Script</h2>
  <p>Are you sure you want to delete the script? This action is not reversable.</p>

  <form class="delete-script-form" action="{{ url_for('app_manager.delete_script', app_name=app.name, script_id=script.id) }}" method="post">
    <input type="submit" value="Delete Script" class="button">
  </form>
</div>
{% endblock %}
