<div class="container black auto-width" style="width:auto">
  <h2><a class="white-text" href="url_for('app_manager.script_view', app_name=app.name, script_id=script.id)">Script Info</a></h2>

  <table>
    <td class="bold">Options:</td>
    <td>{% if script.can_user_edit(g.user) %}[<a href="{{ url_for('app_manager.edit_script', app_name=app.name, script_id=script.id) }}">Edit</a>] [<a class='red' href="{{ url_for('app_manager.delete_script', app_name=app.name, script_id=script.id) }}">Delete</a>] [<a href="{{ url_for('app_manager.add_script_maintainer', app_name=app.name, script_id=script.id) }}">Add Maintainer</a>] {% endif %}[<a class="red" href="{{ url_for('app_manager.report_script', app_name=app.name, script_id=script.id) }}">Report</a>]</td>
    <tr>
      <th class="bold">Actions:</th>
      <td>{{ ", ".join(script.get_supported_actions()) }}</td>
    </tr>
    <tr>
      <th class="bold">Shell:</th>
      <td>{{ script.shell.name }}</td>
    </tr>
    <tr>
      <th class="bold">Description:</th>
      <td>{{ script.description }}</td>
    </tr>
    <tr>
      <th class="bold">Uses Function Matcher:</th>
      <td>{% if script.use_default_function_matcher %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th class="bold">For Version:</th>
      {% set script_version = script.app_data.get().version %}
      <td>{% if script_version != '' %}{{ script_version }}{% else %}Any{% endif %}</td>
    </tr>
    <tr>
      <th class="bold">Creation Date:</th>
      <td>{{ script.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    <tr>
      <th class="bold">Last Modified:</th>
      <td>{{ script.last_modified.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    <tr>
      <th class="bold">Original Submitter:</th>
      <td><a class="link" href="{{ url_for("auth.profile", username=script.submitter.username) }}">{{ script.submitter.username }}</a></td>
    </tr>
    <tr>
      <th class="bold">Maintainers:</th>
      <td>
       {% for maintainer in script.maintainers.get_maintainers() %}
       <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app.can_user_edit(g.user) %} [<a class='red' href="{{ url_for("app_manager.remove_script_maintainer", app_name=app.name, script_id=script.id, username=maintainer.user.username) }}">Remove</a>]{% endif %}{% if loop.index != app.maintainers.get_maintainers()|length %}, {% endif %}
       {% endfor %}
     </td>
    </tr>
    <tr>
      <th class="bold">Discussion:</th>
      <td><a class="link" href="{{ url_for("app_manager.comments", app_name=script.app_data.get().app.name, thread_id=script.app_data.get().thread.id) }}">View this script's discussion.</a></td>
    </tr>
    <tr>
      <th class="bold">Supported Distros:</th>
      <td>
	<table>
	  {% set distros = script.supported_distros.get_as_dict() %}
	  {% for architecture in distros %}
	  <tr class="initial-font-size">
	    <td class="no-height-padding">{{ architecture }}:</td>
	    <td class="no-height-padding">{{ ', '.join(distros[architecture]) }}</td>
	  </tr>
	  {% endfor %}
	</table>
      </td>
    </tr>
  </table>
  <p>Content</p>
  <textarea name="script-content" id="script-content">{{ script.complete_content() }}</textarea>
  <script>
    mirror = CodeMirror.fromTextArea(document.getElementById("script-content"), {
	lineNumbers: true,
	mode: "shell",
	theme: "monokai",
	readOnly: true,
    });
  </script>
  <br>
  <h3>Download Script</h3>
  <form action="{{ url_for('app_manager.script_download', app_name=script.app_data.get().app.name, script_id=script.id) }}" method="get">
    <label for="version">Version <span style="color:var(--light-grey)">(optional)</span>:</label><br>
    <input type="text" name="version" id="version" class="textbox" placeholder="{{ script.app_data.get().app.current_version }}">
    <input type="submit" value="Download" style="font-size: 18px; padding-top: 3px; padding-bottom: 3px;">
  </form>
</div>
