{% extends "app/base.html" %}

{% block app_page_title %}Script Info for {% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
{% include "script/info_container.html" %}

<h2>Latest Comments</h2>

{% for comment in app_script.thread.comments.limit(10) %}
{% set edit_comment_route = url_for('app_manager.edit_comment', app_name=app.name, thread_id=app_script.thread.id, comment_id=comment.id) %}
{% set delete_comment_route = url_for('app_manager.delete_comment', app_name=app.name, thread_id=app_script.thread.id, comment_id=comment.id) %}
{% set report_comment_route = url_for('app_manager.report_comment', app_name=app.name, thread_id=app_script.thread.id, comment_id=comment.id) %}
{% include "discussion/comment.html" %}
{% endfor %}

<a class="link" href="{{ url_for("app_manager.comments", app_name=app_script.app.name, thread_id=app_script.thread.id) }}">View all comments</a>

{% endblock %}
