{% extends "script/base.html" %}

{% block pre_title %}Report{% endblock %}

{% block script_page_content %}
<div class="container black" style="width:auto">
    <h2>Report Script</h2>
    
    <form action="{{ url_for('app_manager.report_script', app_name=app.name, script_id=script.id) }}" method="post">
        <div class="form-input-container">
          <label for="title" >Title</label><br>
	  <input type="text" name="title" id="title" class="textbox" required>
        </div>

	<div class="form-input-container">
	  <label for="body">Body</label><br>
	  <textarea name="body" id="body" class="textbox" cols="30" rows="6" required></textarea>
	</div>
        
        <div class="form-input-container">
            <input type="submit" value="Submit" class="button">
        </div>
    </form>
</div>

{% endblock %}
