{% extends "app/base.html" %}

{% block app_page_title %}Scripts for {% endblock %}

{% block app_container_style %}max-width:1600px;{% endblock %}

{% block content %}
<div class="container black">
  <h2>Refine Scripts</h2>
  
  <form action="{{ url_for('app_manager.app_scripts', app_name=app.name) }}" method="get">
    <fieldset>
      <div>
	<label for="search-in">Search In:</label>
	<select name="search-in" id="search-in">
	  <option value="method" {% if request.args.get('search-in') == 'method' %}selected=""{% endif %}>Method</option>
	  <option value="maintainers" {% if request.args.get('search-in') == 'maintainers' %}selected=""{% endif %}>Maintainers</option>
	  <option value="submitter" {% if request.args.get('search-in') == 'submitter' %}selected=""{% endif %}>Submitter</option>
	</select>
      </div>
      <div>
	<label for="keywords">Keywords:</label>
	<input type="text" name="k" id="keywords" value="{{ request.args.get('k', '') }}">
      </div>
      
      <div>
	<label for="supports">Supports:</label>
	<input type="text" name="supports" id="supports" value="{{ request.args.get('supports', '') }}">
      </div>
      <div>
	<label for="sort-by">Sort By:</label>
	<select name="sort-by" id="sort-by">
	  <option value="last_modified" {% if request.args.get('sort-by') == 'last_modified' %}selected=""{% endif %}>Last Modified</option>
	  <option value="creation_date" {% if request.args.get('sort-by') == 'creation_date' %}selected=""{% endif %}>Creation Date</option>
	  <option value="version" {% if request.args.get('sort-by') == 'version' %}selected=""{% endif %}>Version</option>
	</select>
      </div>
      <div>
	<label for="order-by">Order By:</label>
	<select name="order-by" id="order-by">
	  <option value="asc" {% if request.args.get('order-by') == 'asc' %}selected=""{% endif %}>Ascending</option>
	  <option value="desc" {% if request.args.get('order-by') == 'desc' %}selected=""{% endif %}>Descending</option>
	</select>
      </div>
      <div>
	<label for="actions">Supported Actions:</label>
	<input type="text" name="actions" id="actions" value="{{ request.args.get('actions', '') }}">
      </div>
      <div>
	<label for="page">Page:</label>
	<input type="text" name="page" id="page" size="4" value="{{ request.args.get('page', 1) }}">
      </div>
      <div>
	<label for="per-page">Per Page:</label>
	<input type="text" name="per-page" id="per-page" size="2" value="{{ request.args.get('per_page', 10) }}">
      </div>
      <div>
	<input type="submit" value="Go" class="button">
      </div>
    </fieldset>
  </form>
</div>

<div class="container black">
  {% if scripts|length == 0 %}
  <p class="no-margin">No Scripts Found</p>
  {% else %}
  <table class="max-width">
    <thead>
      <tr class="underline">
        {% if app.can_user_edit(g.user) %}
        <th>Options</th>
        {% endif %}
        <th>Actions</th>
	<th>Method</th>
        <th>Supports</th>
        <th>For Version</th>
	<th>Submitter</th>
	<th>Maintainers</th>
	<th>Creation Date</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for script in scripts %}
      <tr class="underline">
        <td>[<a href="{{ url_for('app_manager.script_view', app_name=app.name, script_id=script.id) }}">View</a>]</td>
        <td>{{ ", ".join(script.script_data.get_supported_actions()) }}</td>
	<td>{{ script.script_data.method }}</td>
        <td>
	  <table class="initial-font-size">
	    {% set distros = script.script_data.supported_distros.get_as_dict() %}
	    {% for architechture in distros %}
	    <tr>
	      <td class="no-height-padding">{{ architechture }}:</td>
	      <td class="no-height-padding">{{ ', '.join(distros[architechture]) }}</td>
	    </tr>
	    {% endfor %}
	  </table>
        </td>
        <td>{% if script.version != '' %}{{ script.version }}{% else %}Any{% endif %}</td>
	<td><a href="{{ url_for('auth.profile', username=app.submitter.username) }}">{{ app.submitter.username }}</a></td>
        <td>
	  {% for maintainer in app.maintainers.get_maintainers() %}
         <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app.can_user_edit(g.user) %}{% endif %}{% if loop.index != app.maintainers.get_maintainers()|length %}, {% endif %}
         {% endfor %}
        </td>
        <td>{{ script.creation_date.day }}-{{ script.creation_date.month }}-{{ script.creation_date.year }} {{ script.creation_date.hour }}:{{ script.creation_date.minute }} (UTC)</td>
        <td>{{ script.last_modified.day }}-{{ script.last_modified.month }}-{{ script.last_modified.year }} {{ script.last_modified.hour }}:{{ script.last_modified.minute }} (UTC)</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% set url_for_route = 'app_manager.app_scripts' %}
{% set url_for_arguments = {'app_name': app.name} %}
{% include "pager.html" %}

{% endblock %}
