{% extends "app/base.html" %}

{% block app_page_title %}Scripts for {% endblock %}

{% block app_container_style %}max-width:1300px;{% endblock %}

{% block content %}
{% set url_for_route = 'app_manager.app_scripts' %}
{% set url_for_arguments = {'app_name': app.name} %}
{% include "script/refiner.html" %}

{% if request.args.get('distro', '') != '' and request.args.get('sort-by', 'score') == 'score' and scripts.count() > 0 and request.args.get('page', '1')|int == 1 %}
<h2>Top Script for {{ request.args.get('distro', '') }}{% if request.args.get('arch', '') != '' %} and {{ request.args.get('arch', '') }}{% endif %}</h2>
{% set app_script = scripts[0].app_data.get() %}
{% include "app/script/info_container.html" %}
{% set scripts = scripts.offset(1) %}
{% set hide_script_supports = True %}
<h3>Other Scripts</h3>
{% endif %}

<div class="container black">
{% include "script/table.html" %}
</div>

{% set url_for_route = 'app_manager.app_scripts' %}
{% set url_for_arguments = {'app_name': app.name} %}
{% include "pager.html" %}

{% endblock %}
