{% extends "app/base.html" %}

{% block title %}Delete Script to {{ ", ".join(app_script.get_supported_actions()) }} {{ app_script.app.name }}{% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
<div class="container black" style="width:auto">
  <h2>Delete Script</h2>
  <p>Are you sure you want to delete the following script? This action is not reversable.</p>

  <form class="delete-script-form" action="{{ url_for('app_manager.delete_script', app_name=app.name, app_script_id=app_script.id) }}" method="post">
    <input type="submit" value="Delete Script" class="button">
  </form>
</div>

{% include "app/script/info_container.html" %}
{% endblock %}
