{% extends "app/base.html" %}

{% block title %}Edit Script to {{ ", ".join(app_script.get_supported_actions()) }} {{ app_script.app.name }}{% endblock %}

{% block header %}
<script src="/static/js/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/static/js/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/js/codemirror/theme/monokai.css">
<script src="/static/js/codemirror/mode/shell/shell.js"></script>
{% endblock %}

{% block content %}
<div class="container black auto-width" style="width:auto">
  <h2>Edit Script</h2>

  {% set form_url = url_for('app_manager.edit_script', app_name=app.name, app_script_id=app_script.id) %}
  {% set default_form_script = app_script %}
  {% include "app/script/script_editor.html" %}
</div>
{% endblock %}
