<div class="container black auto-width" style="width:auto">
  <h2><a class="white-text" href="{{ url_for('app_manager.script_view', app_name=app.name, app_script_id=app_script.id) }}">Script Info</a></h2>

  <table>
    <td class="bold">Options:</td>
    <td>{% if app_script.script.can_user_edit(g.user) %}[<a href="{{ url_for('app_manager.edit_script', app_name=app.name, app_script_id=app_script.id) }}">Edit</a>] [<a class='red' href="{{ url_for('app_manager.delete_script', app_name=app.name, app_script_id=app_script.id) }}">Delete</a>] [<a href="{{ url_for('app_manager.add_script_maintainer', app_name=app.name, app_script_id=app_script.id) }}">Add Maintainer</a>] {% endif %}[<a class="red" href="{{ url_for('app_manager.report_script', app_name=app.name, app_script_id=app_script.id) }}">Report</a>]</td>
    <tr>
      <th class="bold">Actions:</th>
      <td>{{ ", ".join(app_script.script.get_supported_actions()) }}</td>
    </tr>
    <tr>
      <th class="bold">Shell:</th>
      <td>{{ app_script.script.shell.name }}</td>
    </tr>
    <tr>
      <th class="bold">Description:</th>
      <td>{{ app_script.script.description }}</td>
    </tr>
    <tr>
      <th class="bold">Score:</th>
      <td>
	{{ app_script.script.votes.score }}
	{% if app_script.script.can_user_edit(g.user) %}
	{% if app_script.script.votes.has_user_upvoted(g.user) == False %}
	<form action="{{ url_for('app_manager.upvote_script', app_name=app.name, app_script_id=app_script.id) }}" method="post" class="inline"><input type="submit" value="Upvote" class="button"></form>
	{% else %}
	<form action="{{ url_for('app_manager.remove_vote', app_name=app.name, app_script_id=app_script.id) }}" method="post" class="inline"><input type="submit" value="Un-Upvote" class="button"></form>
	{% endif %}

	{% if app_script.script.votes.has_user_downvoted(g.user) == False %}
	<form action="{{ url_for('app_manager.downvote_script', app_name=app.name, app_script_id=app_script.id) }}" method="post" class="inline"><input type="submit" value="Downvote" class="button"></form>
	{% else %}
	<form action="{{ url_for('app_manager.remove_vote', app_name=app.name, app_script_id=app_script.id) }}" method="post" class="inline"><input type="submit" value="Un-Downvote" class="button"></form>
	{% endif %}
	{% endif %}
      </td>
    </tr>
    <tr>
      <th class="bold">Uses Function Matcher:</th>
      <td>{% if app_script.script.use_default_function_matcher %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th class="bold">For Version:</th>
      {% set script_version = app_script.version %}
      <td>{% if script_version != '' %}{{ script_version }}{% else %}Any{% endif %}</td>
    </tr>
    <tr>
      <th class="bold">Creation Date:</th>
      <td>{{ app_script.script.creation_date.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    <tr>
      <th class="bold">Last Modified:</th>
      <td>{{ app_script.script.last_modified.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    <tr>
      <th class="bold">Original Submitter:</th>
      <td><a class="link" href="{{ url_for("auth.profile", username=app_script.script.submitter.username) }}">{{ app_script.script.submitter.username }}</a></td>
    </tr>
    <tr>
      <th class="bold">Maintainers:</th>
      <td>
       {% for maintainer in app_script.script.maintainers.get_maintainers() %}
       <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if app_script.app.can_user_edit(g.user) %} [<a class='red' href="{{ url_for("app_manager.remove_script_maintainer", app_name=app_script.app.name, app_script_id=app_script.id, username=maintainer.user.username) }}">Remove</a>]{% endif %}{% if loop.index != app.maintainers.get_maintainers()|length %}, {% endif %}
       {% endfor %}
     </td>
    </tr>
    <tr>
      <th class="bold">Discussion:</th>
      <td><a class="link" href="{{ url_for("app_manager.comments", app_name=app_script.app.name, thread_id=app_script.thread.id) }}">View this script's discussion.</a></td>
    </tr>
    <tr>
      <th class="bold">Supported Distros:</th>
      <td>
	<table>
	  {% set distros = app_script.script.supported_distros.get_as_dict() %}
	  {% for architecture in distros %}
	  <tr class="initial-font-size">
	    <td class="no-height-padding">{{ architecture }}:</td>
	    <td class="no-height-padding">{{ ', '.join(distros[architecture]) }}</td>
	  </tr>
	  {% endfor %}
	</table>
      </td>
    </tr>
  </table>
  <p>Content</p>
  <textarea name="script-content" id="script-content">{{ app_script.script.complete_content() }}</textarea>
  <script>
    mirror = CodeMirror.fromTextArea(document.getElementById("script-content"), {
	lineNumbers: true,
	mode: "shell",
        theme: "monokai",
        readOnly: true,
    });
  </script>
  <br>
  <h3>Download Script</h3>
  <form action="{{ url_for('app_manager.script_download', app_name=app_script.app.name, app_script_id=app_script.id) }}" method="get">
    <label for="version">Version <span style="color:var(--light-grey)">(optional)</span>:</label><br>
    <input type="text" name="version" id="version" class="textbox" placeholder="{{ app_script.app.current_version }}">
    <input type="submit" value="Download" style="font-size: 18px; padding-top: 3px; padding-bottom: 3px;">
  </form>
</div>
