{% extends "admin/base.html" %}

{% block content %}
<div class="container black auto-width">
  <h2>Shells</h2>

  <a href="{{ url_for('admin.create_shell') }}">Add Shell</a>
  
  <table class="max-width">
    <thead>
      <tr class="underline">
	<th class="bold">Options</th>
	<th class="bold">Name</th>
	<th class="bold">File Extension</th>
	<th class="bold">File Mimetype</th>
	<th class="bold">Interpreter Path</th>
	<th class="bold">Interpreter Arg</th>
      </tr>
    </thead>
    <tbody>
    {% for shell in shells %}
    <tr>
      <td>[<a href="{{ url_for('admin.edit_shell', shell_id=shell.id) }}">Edit</a>] [<a class="red" href="{{ url_for('admin.delete_shell', shell_id=shell.id) }}">Delete</a>]</td>
      <td>{{ shell.name }}</td>
      <td>{{ shell.file_extension }}</td>
      <td>{{ shell.file_mimetype }}</td>
      <td>{{ shell.interpreter_path }}</td>
      <td>{{ shell.interpreter_arg }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
