<div class="container black">
  <h2>Refine Scripts</h2>
  {% if not url_for_arguments %}
  {% set url_for_arguments = {} %}
  {% endif %}
  <form action="{{ url_for(url_for_route, **url_for_arguments) }}" method="get">
    <fieldset>
      <div>
	<div>
	<label for="distro">Distro:</label>
	<input type="text" name="distro" id="distro" value="{{ request.args.get('distro', '') }}" style="width: 100px">
      </div>

      <div>
	<label for="arch">Architecture:</label>
	<input type="text" name="arch" id="arch" value="{{ request.args.get('arch', '') }}" style="width: 100px">
      </div>

      <div>
	<label for="shell">Shell:</label>
	<select name="shell" id="shell" required>
	  {% for shell in get_shell_names() %}
	  <option value="{{ shell }}" {% if request.args.get('shell', '') == shell %}selected="selected"{% endif %}>{{ shell.capitalize() }}</option>
	  {% endfor %}
	</select>
      </div>
	
	<label for="search-in">Search In:</label>
	<select name="search-in" id="search-in">
	  <option value="description" {% if request.args.get('search-in') == 'description' %}selected=""{% endif %}>Description</option>
	  <option value="maintainers" {% if request.args.get('search-in') == 'maintainers' %}selected=""{% endif %}>Maintainers</option>
	</select>
      </div>
      <div>
	<label for="keywords">Keywords:</label>
	<input type="text" name="k" id="keywords" value="{{ request.args.get('k', '') }}">
      </div>
      
      <div>
	<label for="sort-by">Sort By:</label>
	<select name="sort-by" id="sort-by">
	  <option value="last_modified" {% if request.args.get('sort-by') == 'last_modified' %}selected=""{% endif %}>Last Modified</option>
	  <option value="version" {% if request.args.get('sort-by') == 'version' %}selected=""{% endif %}>Version</option>
	</select>
      </div>
      <div>
	<label for="order-by">Order By:</label>
	<select name="order-by" id="order-by">
	  <option value="desc" {% if request.args.get('order-by') == 'desc' %}selected=""{% endif %}>Descending</option>
	  <option value="asc" {% if request.args.get('order-by') == 'asc' %}selected=""{% endif %}>Ascending</option>
	</select>
      </div>
      <div>
	<label for="per-page">Per Page:</label>
	<input type="text" name="per-page" id="per-page" size="2" value="{{ request.args.get('per-page', 10) }}">
      </div>
      <div>
	<input type="submit" value="Go" class="button">
      </div>
    </fieldset>
  </form>
</div>
