
{% if scripts|length == 0 %}
<p class="no-margin">No Scripts Found</p>
{% else %}
<table class="max-width">
  <thead>
    <tr class="underline">
      <th>Options</th>
      {% if show_script_app %}
      <th>App</th>
      {% endif %}
      <th>Score</th>
      <th>Actions</th>
      <th>Shell</th>
      <th>Description</th>
      {% if not hide_script_supports %}
      <th>Supports</th>
      {% endif %}
      <th>For Version</th>
      <th>Maintainers</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for script in scripts %}
    <tr class="underline">
      <td>[<a href="{{ url_for('app_manager.script_view', app_name=script.app_data.get().app.name, app_script_id=script.app_data.get().id) }}">View</a>]</td>
      {% if show_script_app %}
      <td><a href="{{ url_for('app_manager.app_view', app_name=script.app_data.get().app.name) }}">{{ script.app_data.get().app.name }}</a></td>
      {% endif %}
      <td>{{ script.votes.score }}</td>
      <td>{{ ", ".join(script.app_data.get().get_supported_actions()) }}</td>
      <td>{{ script.shell.name }}</td>
      <td>{{ script.description }}</td>
      {% if not hide_script_supports %}
      <td>
	<table class="initial-font-size">
	  {% set distros = script.get_supported_distros_as_dict() %}
	  {% for architechture in distros %}
	  <tr>
	    <td class="no-height-padding">{{ architechture }}:</td>
	    <td class="no-height-padding">{{ ', '.join(distros[architechture]) }}</td>
	  </tr>
	  {% endfor %}
	</table>
      </td>
      {% endif %}
      {% set script_version = script.app_data.get().version %}
      <td>{% if script_version != '' %}{{ script_version }}{% else %}Any{% endif %}</td>
      <td>
	{% for maintainer in script.maintainers.get_maintainers() %}
        <a class="link" href="{{ url_for("auth.profile", username=maintainer.user.username) }}">{{ maintainer.user.username }}</a>{% if script.can_user_edit(g.user) %}{% endif %}{% if loop.index != script.maintainers.get_maintainers()|length %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ script.last_modified.strftime('%d-%m-%Y %H:%M') }} (UTC)</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
